<style>
  li{
        list-style-type: none;
        
    }  
    
    .row{
        margin-top: 20px;

    }
    a{
        text-decoration: none;
    }
    span{
        color: rgb(0, 0, 0);
        padding: 10px;
    }
    .horizontal_icon li{
        display: inline;
        /* margin-left: 350px; */
    }
     /* .footer{
        background-image: linear-gradient(to bottom right,rgb(8, 51, 71),rgb(104, 55, 63));
    }  */
</style>
<body>
    


<div class="row footer">
    <div class="col">
       
        <ul>
            <li> <h5>LIPS</h5></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Lipstick</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Crayon Lipstick</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Matte Lipstick</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Hi-Shine Lipstick</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Lip Glow</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Lip Glow</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Lip Balm</span></a></li>
        </ul>
    </div>
    <div class="col">
        
        <ul>
            <li><h5>NAILS</h5></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Nail Lacquer</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Nail Polish</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Matte Nail Polish</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Nail Polish Sets</span></a></li>
        </ul>
    </div>
    <div class="col">
        
        <ul>
            <li><h5>FACE</h5></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Fixing Powder</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Primer</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Concealer</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Foundation</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Comapact Powder</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Settling Powder</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Highlighter</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Blush</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Bronzer</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Sindor</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/makeup/"><span>Cheek Stain</span></a></li>
        </ul>
    </div>
    <div class="col">
        
        <ul>
            <li><h5>HAIR CARE</h5></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Shampoo</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Conditioner</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Hair Oil</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Serum</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Hair Mask</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/haircare/"><span>Combos</span></a></li>
        </ul>
    </div>
    <div class="col">
        
        <ul>
            <li><h5>SKIN CARE</h5></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Moisturizer</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Night Cream</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Eye Cream</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Body Lotion</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Serum</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Sunscreen</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Skin Care Kits</span></a></li>
        </ul>
        
        <ul>
            <li><h5>CLEANSING PRODUCTS</h5></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Cleanser</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Face Wash</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Scrub</span></a></li>
        </ul>
        
        <ul>
            <li><h5>MASK</h5></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Sheet Mask</span></a></li>
            <li><a href="http://127.0.0.1:8000/products/skincare/"><span>Face Pack</span></a></li>
        </ul>
    </div>
    <div class="col">
       
        <ul>
            <li> <h5>KNOW MORE</h5></li>
            <li><a href=""><span>About Us</span></a></li>
            <li><a href=""><span>Terms & Conditions</span></a></li>
            <li><a href=""><span>Privacy Policy</span></a></li>
        </ul>
    </div>
</div>
<div class="row footer" style="margin-top: 0;" >
    <div class="col" style="display: inline;width: 100%;margin-left:35px;">
        <h5>SUBSCRIBE FOR SHINE EMAILS</h5>
        <input type="email" placeholder="Please enter valid email ID" style="width: 300px; height: 50px;">
        <button style="height: 50px;  background-color: black;margin-left: 0;border: 1px solid black;"><span style="color: white;font-weight: 25px;font-family: Arial, Helvetica, sans-serif;">Subscribe Now</span></button>
     
    
    
    <ul class="horizontal_icon">
        <span style="margin-left: 0px;margin-top: 50px;">STAY CONNECTED | </span>
        <li><i class="fa fa-instagram" aria-hidden="true" id="insta"></i></li>
        <li><i class="fa fa-youtube-square" aria-hidden="true" id="youtube"></i></li>
        <li><i class="fa fa-pinterest-square" aria-hidden="true" id="pinterest"></i></li>
 
    </ul>
</div>
</div>
</body>