{%extends 'index.html'%}
{%block content%}
{%load static%}
 <style>
  .img{
    width: 290px;
    height: 300px;
    border: 1px solid black;

  }
  .caption{
    margin-left: 30px;
    padding: 10px;
  }
  /* img:hover{

  }
  */
  .col-sm-4{
    border: 1px solid black;
    width: 500px;
  }
  
  

 </style>
 <h1 style="background-image: linear-gradient(180deg, transparent 60%, rgb(224, 81, 105));position: absolute;margin-top: 5px;margin-left: 600px;padding: 4px;">MAKEUP</h1>
 
  <div class="row" style="margin-top: 75px;">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick1.jpg'%}" alt="...">
      <div class="caption">
        <h5>Combo of Lip Liner+Matte Velvet Lipstick</h5>
        <p><b>Rs 300</b></p>
        <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick2.jpg'%}" alt="...">
      <div class="caption">
        <h5>2 Nail Enamel and 1 lipstick</h5>
        <p><b>Rs 119</b></p>
        <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick3.jpg'%}" alt="...">
      <div class="caption">
        <h5>1 Lip Liner+1 Lipstick Duo</h5>
        <p><b>Rs 350</b></p>
        <p style="margin-top: 5px;"><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick4.jpg'%}" alt="...">
      <div class="caption">
        <h5>Lipstick with Shade</h5>
        <p><b>Rs 120</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick5.jpg'%}" alt="...">
      <div class="caption">
        <h5>Pack of 3 Lipsticks</h5>
        <p><b>Rs 360</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick6.jpg'%}" alt="...">
      <div class="caption">
        <h5>Pack of 2 Lipstick</h5>
        <p><b>Rs 480</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick7.jpg'%}" alt="...">
      <div class="caption">
        <h5>Pack of 4 Lipsticks</h5>
        <p><b>Rs 480</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick8.jpg'%}" alt="...">
      <div class="caption">
        <h5>Mini Lip Kit</h5>
        <p><b>Rs 60</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick9.jpg'%}" alt="...">
      <div class="caption">
        <h5>Liquid Matte Lipstick</h5>
        <p><b>Rs 120</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick10.jpg'%}" alt="...">
      <div class="caption">
        <h5>Lipstick Combo Pack with Gift Card</h5>
        <p><b>Rs 380</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick11.jpg'%}" alt="...">
      <div class="caption">
        <h5>Lipstck+Lipbalm</h5>
        <p><b>Rs 180</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/lipstick12.jpg'%}" alt="...">
      <div class="caption">
        <h5>Lipstick+Kajal</h5>
        <p><b>Rs 220</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> 
      </div>
    </div>
  </div>
</div>
{%endblock%}