{%extends 'index.html'%}
{%block content%}
{%load static%}
<style>
    .img{
    width: 290px;
    height: 300px;
    border: 1px solid black;
    }
    .caption{
    margin-left: 30px;
    padding: 10px;
  }
</style>
<h1 style="background-image: linear-gradient(180deg, transparent 60%, rgb(224, 81, 105));position: absolute;margin-top: 5px;margin-left: 580px;padding: 4px;">SKINCARE</h1>
 
  <div class="row" style="margin-top: 75px;">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin1.jpg'%}" alt="...">
      <div class="caption">
        <h3>Hydrating Moisturizer Gel</h3>
        <p><b>Rs 985</b></p>
        <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin2.jpg'%}" alt="...">
      <div class="caption">
        <h3>Brightening Moisturising Cream</h3>
        <p><b>Rs 795</b></p>
        <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin3.jpg'%}" alt="...">
      <div class="caption">
        <h3>Hydrating Moisturizer Gel+Brightening Moisturising Cream</h3>
        <p><b>Rs 1295</b></p>
        <p style="margin-top: 5px;"><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin4.png'%}" alt="...">
      <div class="caption">
        <h3>Illumiating Sunscreen SPF 30 </h3>
        <p><b>Rs 349</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin5.jpg'%}" alt="...">
      <div class="caption">
        <h3>Brightening Eye Cream</h3>
        <p><b>Rs 360</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skinn6.jpg'%}" alt="...">
      <div class="caption">
        <h3>Combo of Eyecream and Gift Card</h3>
        <p><b>Rs 678</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin7.jpg'%}" alt="...">
      <div class="caption">
        <h3>Brightening Body Lotion</h3>
        <p><b>Rs 569</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin8.jpg'%}" alt="...">
      <div class="caption">
        <h3>Watermelon and Aloe Body Lotion</h3>
        <p><b>Rs 620</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin9.jpg'%}" alt="...">
      <div class="caption">
        <h3>Face Serum+Face Wash</h3>
        <p><b>Rs 999</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin10.jpg'%}" alt="...">
      <div class="caption">
        <h3>Niacinamide Serum</h3>
        <p><b>Rs 330</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin11.jpg'%}" alt="...">
      <div class="caption">
        <h3>Kiwi and Coconut Sunscreen</h3>
        <p><b>Rs 665</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" style="width: 300px;">
    <div class="thumbnail">
      <img class="img" src="{%static '/images/skin12.jpg'%}" alt="...">
      <div class="caption">
        <h3>Sheet Mask+Face Wash</h3>
        <p><b>Rs 420</b></p>
        <p><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 75px;">
    <div class="col-sm-6 col-md-4" style="margin-left: 210px;width: 300px;">
      <div class="thumbnail">
        <img class="img" src="{%static '/images/skin13.jpg'%}" alt="...">
        <div class="caption">
          <h3>Cleanser</h3>
          <p><b>Rs 300</b></p>
          <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
        </div>
      </div>
    </div>
  
  
    <div class="col-sm-6 col-md-4" style="width: 300px;">
      <div class="thumbnail">
        <img class="img" src="{%static '/images/skin15.jpg'%}" alt="...">
        <div class="caption">
          <h3>Cacao and Berries Scrub Mask</h3>
          <p><b>Rs 219</b></p>
          <p ><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img" src="{%static '/images/skin15.jpg'%}" alt="...">
        <div class="caption">
          <h3>Combo of Serum+Face_Wash</h3>
          <p><b>Rs 450</b></p>
          <p style="margin-top: 5px;"><a href="#" class="btn btn-primary" role="button">Add Cart</a> </p>
        </div>
      </div>
    </div>
  </div>
{%endblock%}